{% extends "template_base.html" %}


{% block contenu %}
    <p>{{ message }}</p> 
   <div class="container">
    <form method="post" >
    {% csrf_token %} 

        <div class="row">
            <div class="col-md-6 champ">
                <label for="emailinput" class="form-label">Adresse Email</label>
                <input type="email" name="username" class="form-control form-control-sm" placeholder='exemple@gmail.com' id="emailinput" required>

            </div>    
        </div>
       
        <div class="row">
            <div class="col-md-6"style="margin-top:24px;">
                <label for="passwordinput" class="form-label">Mot de passe</label>
                <input type="password" name="password" class="form-control form-control-sm" id="passwordinput" required>
            </div>
        </div>
           
        <div class="row">
            <div class="col-md-6"style="margin-top:25px;">
                <button type="submit" class="btn btn-primary">Se Connecter</button>
            </div>
        </div>

      </form>  
   </div>

{% endblock %}