{% extends "index.html" %}
{% load static %}

{% block contenu %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 pb-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-16 w-18" src="{% static "images/uadb.png" %}" alt="Université Alioune DIOP">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-500">Message de réinitialisation du mot de passe envoyé</h2>
    </div>
    
    <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
        <p class="text-center text-gray-800">Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour autant qu’un compte existe avec l’adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message.</p>
        <p class="text-center ">Si vous ne recevez pas de message, vérifiez que vous avez saisi l’adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier de pourriels.</p>
 
    </div>
  </div>
  
  

{% endblock %}