{% extends 'base_personnel.html' %}
{% load static %}

{% block navbar %}
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="{% url 'personnel_home' %}"><img src="{% static "images/uadb.png" %}" class="mr-2" alt="logo"/>UADB</a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static "images/uadb.png" %}" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <!--ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Recherche" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul-->
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-bell mx-0"></i>
              <span class="count"></span>
            </a>
          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              {% if request.user.is_personnel %}
              <img src="{{request.user.personnel.photo.url}}" alt="profile"/>
              {% else%}
              <img src="{% static "images/uadb.png" %}" alt="profile"/>
              {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" style="z-index: 100;" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                Parametres
              </a>
              <a href="{% url 'personnel_logout' %}" class="dropdown-item z-50"  >
                <i class="ti-power-off text-primary"></i>
                Déconnecter
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
{% endblock  %}


{% block contenu %}
<!--Contenu Principal--> 

<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Diagramme à barres</h4>
        <div>
          <canvas id="myBarChart"height="400"width="600"></canvas>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <script>
          const dataBar = {
            labels: {{liste_entrep_name|safe}},
            datasets: [{
              label: 'Nombre Etudiants par Entreprise',
              data: {{liste_entrep_nbre|safe}}, //data:{{etudiants_lic_mast|safe}} pour les listes
              
              backgroundColor: {{colors|safe}},
              borderColor: {{colors|safe}},
              borderWidth: 1

            }]
          };
        
          const configBar = {
            type: 'bar',
            data: dataBar,
            options: {
              cutoutPercentage: 0,
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          };
          const ctxBar = document.getElementById('myBarChart').getContext('2d');
          new Chart(ctxBar, configBar);
        </script>

      </div>
      <p class="pl-3"> Ce graphe en barres représente la répartition des étudiants en fonction des entreprises qui les accueillent le plus.</p>
    </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Graphe Lineaire</h4>
        <div>
          <canvas id="myLineChart" height="400"width="600"></canvas>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <script>
          const dataLine = {
            labels: {{liste_entrep_name|safe}},
            datasets: [{
              label: 'Nombre Etudiants par Entreprise',
              data: {{liste_entrep_nbre|safe}},
              fill: false,
              borderColor: {{colors|safe}},
              tension: 0.4 

            }]
          };
        
          const configLine = {
            type: 'line',
            data: dataLine,
            options: {
              responsive: true,  
            }
            
          };
          const ctxLine = document.getElementById('myLineChart').getContext('2d');
          new Chart(ctxLine, configLine);
        </script>
      </div>
      <p class="pl-3"> Ce graphe en barres représente la répartition des étudiants en fonction des entreprises qui les accueillent le plus.</p>
    </div>
  </div>
</div>
<div class="row mb-6 pb-10">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">graphique en secteurs</h4>
        <div>
          <canvas id="myDoughnutChart" height="400"width="600"></canvas>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <script>
          const dataDoughnut = {
            labels: {{liste_cont_name|safe}},
            datasets: [{
              label: 'Nombre Etudiants par Type de contrat',
              data: {{liste_cont_nbre|safe}},
              
              hoverOffset: 4

            }]
          };
        
          const configDoughnut = {
            type: 'doughnut',
            data: dataDoughnut,
            options: {
              cutoutPercentage: 0,
              scales: {
                x: {
                  display: false // Désactiver l'axe x
                },
                y: {
                  display: false // Désactiver l'axe y
                }
              }
            }  
          };
          const ctxDoughnut = document.getElementById('myDoughnutChart').getContext('2d');
          new Chart(ctxDoughnut, configDoughnut);
        </script>
      </div>
      <p class="pl-3"> Ce diagramme circulaire illustre la répartition des étudiants selon le type de contrat au sein des entreprises.</p>
    </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card ">
      <div class="card-body">
        <h4 class="card-title">Diagramme à barres</h4>
        <div>
          <canvas id="mySecondBarChart" height="650"width="700"></canvas>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <script>
          const dataSecondBar = {
            labels: {{name_Entrep_TypeCont_By|safe}},  //{{ liste_entrep_name|safe}}.concat({{ liste_cont_name|safe}}),
            datasets: [{
              label: 'Types de contrat suivant les entreprises',
              data: {{nbre_TypeCont_By_Entrep|safe}},
              
              backgroundColor: {{colors_nbre_typecont|safe}},
              //borderColor: {{colors_nbre_typecont|safe}},
              borderWidth: 1

            }]
          };
        
          const configSecondBar = {
            type: 'bar',
            data: dataSecondBar,
            options: {
              cutoutPercentage: 0,
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          };
          const ctxSecondBar = document.getElementById('mySecondBarChart').getContext('2d');
          new Chart(ctxSecondBar, configSecondBar);
        </script>
      </div>
      <p  class="pl-3"> Ce graphe en barres représente la répartition des types de contrats présentent dans chaque entreprise. </p>
    </div>
  </div>
</div>
<div class="col-lg-12 grid-margin stretch-card justify-content-end ">

{% endblock %}