{% extends "template_base.html" %}


{% block contenu %}
    
   <div class="container">
    <form action="" method="POST">
    {% csrf_token %} 
        <div class="row">
            <div class="col-md-6 champ">
                <label for="{{ form.etablissement.id_for_label }}" class="form-label">Université d'accueil</label>
                {{form.etablissement}}
            </div>
            <div class="col-md-6 champ">
                <label for="{{ form.diplome_name.id_for_label }}" class="form-label">Nom du diplôme</label>
                {{form.diplome_name}}
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-6 champ">
                <label for="{{ form.anneedebut.id_for_label }}" class="form-label champ">Année de debut</label>
                {{form.anneedebut}}
            </div>
            <div class="col-md-6 champ">
                <label for="{{ form.anneeFin.id_for_label }}" class="form-label champ">Année de fin</label>
                {{form.anneeFin}}
            </div>
        </div>
            
        <div class="row" style="display: flex; justify-content: end;"> 
            <div class="col-md-3 "style="margin-top:80px;">
                <button type="submit" class="btn btn-success">Ajouter</button>
                <a href="{% url 'emploi' etudiant.id %}" class="btn btn-primary"> Suivant </a>
             </div>          
            
        </div>

{% endblock %}  